@import 'https://fonts.googleapis.com/css?family=Ek+Mukta';

body {
  background-color: rgb(250,237,135);
  font-family: 'Ek Mukta', sans-serif;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #212852;
}

h1 {
  font-weight: bold;
}

h3 {
  line-height: 1.4em;
  font-weight: lighter;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
}

form {
  margin: 0 0 64px 0;
}

.carousel {
  background-color: white;
  margin-top: 50px;
  height: 450px;
}

.club {
  padding-top: 50px;
  padding-bottom: 40px;
}

.club .row .col-md-3 h4 {
  border-bottom: 4px solid #212852;
}

.main {
  background-color: rgb(253,245,196);
  min-height: 500px;
  padding-top: 70px;
}

.newsletter, .news {
  border: 6px solid white;
}

.newsletter {
  background-color: rgb(225, 235, 246);
  margin-bottom: -6px;
}

.news {
  background-color: rgb(250,237,135);
}

.activities, .courses {
  background-color: white;
  margin-bottom: 50px;
  padding: 25px 30px 42px 44px;
}
