@import 'https://fonts.googleapis.com/css?family=Ek+Mukta';

body {
  background-color: rgb(250,237,135);
  font-family: 'Ek Mukta', sans-serif;
  width: 100%;
}

.resize {
  width: 90%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #212852;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

h1 {
  font-weight: bold;

}

h3 {
  line-height: 1.4em;
  font-weight: lighter;
}

h4 {
  font-weight: lighter;;
  font-size: 1.4em;
  line-height: 1.55em;
}

h4 .bold {
  font-weight: bold;
}

form {
  margin: 0 0 64px 0;
}

.float-left {
  float: left;
}

.btn-newsletter {
  float: left;
    margin-top: 9px;
    margin-left: 30px;
}

.btn-newsletter .btn-default {
      padding: 6px 36px;
}

.btn-transp {
  margin: 20px 0;
  padding: 16px 8px;
  border: 2px solid #212852;
  text-align: center;
  font-size: 18px;
  color: #212852;
}

.btn-transp:hover { background-color: white;}



.carousel {
  background-color: white;
  margin-top: 50px;
  height: 350px;
}

.club {
  padding-top: 30px;
  padding-bottom: 26px;
}

.club .row .col-md-3 h4 {
  border-bottom: 4px solid #212852;
  padding-top: 7px;
  margin-bottom: 20px;
}

.club .row .col-md-3:hover {
  background-color: rgb(253,245,196);
  border-radius: 10px;
}

.tit-pag {
  background-color: white;
}

.tit-pag h1 {
  font-size: 4.5em;
  margin-left: 20px;
  margin-top: -23px;
}

.tit-pag-center {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.tit-pag-center h1 {
  font-size: 4.5em;
  margin-top: -23px;
}

.main {
  background-color: rgb(253,245,196);
  padding-top: 48px;
  padding-bottom: 48px;
}

.main h1 {
  font-size: 2.5em;
}

.newsletter, .news {
  border: 6px solid white;
}

.newsletter {
  background-color: rgb(225, 235, 246);
  margin-bottom: -6px;
}

.news {
  background-color: rgb(250,237,135);
}

.activities, .courses {
  background-color: white;
  margin-bottom: 50px;
  padding: 25px 30px 42px 44px;
}

.activities:hover, .courses:hover {
  box-shadow: 0 0 4px #212852;
}

.beneficenza {
  background-image: url("../img/beneficenza.png");
}

.beneficenza .col-md-10 div {
  border: 4px solid white;
  min-height: 300px;
  margin: 40px;
}

.beneficenza h1 {
  font-size: 4em;
  font-weight: normal;
  margin: 40px;
  color: white;
}

.biblioteca {
  background-color: rgb(225, 235, 246);
}

.biblioteca .col-md-10 {
  padding-top: 16px;
  min-height: 300px;
  margin: 40px 0 40px 40px;
}

#book-dropdown {width: 300px;}

.link-esterni {
  padding: 32px 48px;
  background-color: white;
  min-height: 300px;
  text-align: right;
}

.collaborazioni {
  background-color: rgb(225, 235, 246);
  padding: 32px 48px;
  min-height: 300px;
}

.azzurro {
  background-color: rgb(225, 235, 246);
  padding-bottom: 50px;
}
.azzurro .row {
  margin-top: 50px;
}

.azzurro h1 {
  font-size: 3em;
}

.step {
  background-color: white;

}

.step h4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.secondo {
  margin-top: 100px;
}

.modulo {
  margin-top: 50px;
}

.linea {
  height: 1px;
  width: 120px;
  background-color: #0f0f0f;
}

.linea-full {width: 100%;
  height: 1px;
  background-color: #0f0f0f;}

.box-bianco {
  background-color: white;
  padding: 32px 24px;
  max-width: 300px;
}


#comitato table {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  border: 2px solid #212852;
}

#comitato thead { background-color: #212852; color: white; border: none;}

#comitato td, th, tr { padding-top: 16px; padding-bottom: 16px; background-color: transparent; border: 1px solid #212852;}


.indirizzo {
  position: relative;
  top: 70px;
  right: 140px;
  border: 2px solid #212852;
}

.box-contatti{
  position: relative;
  top:70px;
  left: 70px;
  border: 2px solid #212852;
}


.corsi-modulo-container {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin: 56px 0 0 0;
}
.corsi-costo {
  border: 2px solid #212852;
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 0 24px 48px;
}
.corsi-modulo {
  border: 2px solid #212852;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 24px 48px;
}

.elenco-corsi {
  padding: 36px 0;
  width: 660px;
  margin-right: auto;
  margin-left: auto;
}

.elenco-corsi table, .elenco-corsi td {
  padding: 8px;
}

.panel-default>.panel-heading, .panel-default>.panel-collapse {
  color: #212852;
  background-color: white;
  border: 2px solid #212852;
}



.modal {
  text-align: center;
}

.modal-dialog { max-width: 600px;}
.modal-title { margin:24px 0;}


.activity-row {
  position: relative;
  width: 100%;
  min-width: 600px;
  height: 300px;
  margin: 24px 0 32px 0;
}

.activity-row hr {
  color: #212852;
  height: 4px;
}

.activity-row-date {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 52px;
  bottom: 52px;
  width: 200px;
  text-align: center;
  border: 3px solid #212852;
}

.activity-row-date h1 { font-size: 94px; padding-bottom: 0; margin-bottom: 0;}
.activity-row-date h4 { font-size: 32px; margin-top: 0; padding-top: 0;}

.activity-row-img {
  background-color: #212852;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 360px;
  height: 220px;
  overflow: hidden;
  border: 3px solid #212852;
  text-align: center;
}

.activity-row-img img {height: 100%;}

.activity-row-info {
  background-color: #fcf6c6;
  position: absolute;
  right: 180px;
  left: 180px;
  bottom: 16px;
  top: 16px;
  padding: 16px 226px 16px 68px;
  overflow: hidden;
  border: 3px solid #212852;
}

.activity-row-info h3 { border-bottom: 2px solid #212852; font-weight: bold;}
.activity-row-info p { margin-bottom: 32px; overflow: hidden; }


.single-activity-container {
  margin: 128px 0;
  height: 400px;
  width: 100%;
  min-width: 550px;
  position: relative;
  overflow: hidden;
}

.single-activity-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 160px;
  width: 480px;
  border: 3px solid #212852;
  overflow: hidden;
}

.single-activity-day {
  position: absolute;
  left: 0;
  top: 0;
  height: 152px;
  width: 152px;
  background-color: #ffffff;
  border-right: 3px solid #212852;
  text-align: center;
}

.single-activity-day h1 {font-size: 78px; padding-bottom: 0; margin-bottom: 0;}
.single-activity-day h4 { font-size: 20px; margin-top: 0; padding-top: 0;}

.single-activity-title {
  height: 100%;
  width: 100%;
  padding-left: 172px;
  background-color: rgb(225, 235, 246);
}

.single-activity-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 480px;
  height: 300px;
  text-align: center;
  border: 3px solid #212852;
  overflow: hidden;
  background-color: #212852;
}

.single-activity-img img { height: 100%;}

.single-activity-desc-container { padding: 128px 32px;}

.single-activity-rec-container {
  position: relative;
}

.single-activity-rec {
  position: absolute;
  left: 0;
  top: -50px;
  width: 300px;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  border: 3px solid #212852;
}

.single-activity-rec h3 { margin-top: 35px; font-weight: bold;}



.single-activity-info-container {
  padding: 96px 64px 48px 64px;
  text-align: center;
}

#header-container {padding: 0;
  margin: 0;}

#footer-container {
  margin: 0;
  background-color: rgb(250,237,135);
  padding: 32px 0;
}
#footer-container p {font-size: 14px;}

.carousel-inner {width: 100%; height: 100%; position: relative;}

.header-logo {position: relative; top: 0; margin-top: 48px;}

.carousel-inner .item{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #a7cfdf; /* Old browsers */
  background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("../img/lagomaggiore.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}
.control-buttons{
  text-align:center;
}

.carousel-control{
  z-index: 11;
}

.transition-timer-carousel-progress-bar {
  height: 3px;
  background-color: #5cb85c;/*progress bar color*/
  width: 0;
  margin: 0 0 0 0;
  border: none;
  z-index: 11;
  position: relative;
}


.ddmenu {
  display: block;
  position: relative;
  cursor: pointer;
}

.ddmenu.open {
  background: #212852;
  color: #fff;
}

.ddmenu ul {
  position: absolute;
  padding: 5px 0px;
  top: 100%;
  border: 2px solid #212852;
  left: -2px;
  right: -2px;
  display: none;
  background: #fff;
  list-style: none;
  z-index: 1000;
}
.ddmenu ul li { font-size: 0.9em; }

.ddmenu ul li a {
  text-decoration: none;
  display: block;
  color: #212852;
  padding: 7px 15px;
}
.ddmenu ul li a:hover {
  background: #e7f0f7;
}
