<div class="row resize">
  <a href="club.html">
      <div class="col-md-3">
          <h4>il club</h4>
      </div>
  </a>
  <a href="iscrizione.html">
      <div class="col-md-3">
          <h4>iscrizione</h4>
      </div>
  </a>
  <a href="activities.html">
      <div class="col-md-3">
          <h4>attività</h4>
      </div>
  </a>
  <a href="corsi.html">
      <div class="col-md-3">
          <h4>corsi</h4>
      </div>
  </a>
</div>


<div class="hamburger-menu">
<a href=#>
    <span></span>
    <span></span>
    <span></span>
</a>

<nav>
</nav>

<code>
    clicking on "a" toggles class "open" on "a"
</code>
</div>