<div class="text-center">

    <img class="text-center header-logo" id="header-small" src="img/logo-small.png"/>

</div>

<div class="row resize" id="menu-large">
  <a href="club.html">
      <div class="col-md-3">
          <h4>il club</h4>
      </div>
  </a>
  <a href="iscrizione.html">
      <div class="col-md-3">
          <h4>iscrizione</h4>
      </div>
  </a>
  <a href="activities.html">
      <div class="col-md-3">
          <h4>attività</h4>
      </div>
  </a>
  <a href="corsi.html">
      <div class="col-md-3">
          <h4>corsi</h4>
      </div>
  </a>
</div>


<div class="hamburger-menu">
<a id="hamb-btn" href=#>
    <span></span>
    <span></span>
    <span></span>
</a>

<nav>
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../club.html">Il club</a></li>
        <li><a href="../iscrizione.html">Iscrizione</a></li>
        <li><a href="../activities.html">Attività</a></li>
        <li><a href="../corsi.html">Corsi</a></li>
        <li class="divider"></li>
        <li><a href="../../cms/resources/newsletter/Marzo-Aprile16.pdf">Newsletter</a></li>
        <li class="divider"></li>
        <li><a href="../en/index.html">English Version</a></li>
    </ul>
</nav>

<code>
    clicking on "a" toggles class "open" on "a"
</code>
</div>